.header {
  background: #222222;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.search {
  margin-left: 20px;
}
.header_right li:not(:last-child) {
  margin-right: 33px;
}
.header_right {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.menu_button {
  display: block;
  cursor: pointer;
  width: fit-content;
}
.link_nav {
  text-decoration: none;
  color: #636363;
}
.features {
  display: flex;
  padding-top: 51px;
  padding-bottom: 64px;
}
.features_block {
  display: flex;
}
.filter {
  width: 35%;
  font-weight: 600;
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.filter_button {
  padding-left: 10px;
}
.features_button {
  cursor: pointer;
}
.feature_text {
  margin-right: 10px;
}
.features_list {
  margin-right: 27px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  list-style-type: none;
}
.product_search {
  display: flex;
}
details > summary {
  list-style: none;
}
.nav_list {
  display: flex;
}
.nav_list:not(:first-of-type)::before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.header_location_list {
  display: flex;
  list-style-type: none;
  width: 100%;
}

.new {
  color: #f16d7f;
}
.promo {
  background: #f1e4e6;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.page_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 148px;
  background: #f1e4e6;
}
.new_arriv {
  font-family: "Lato";
  color: #f26376;
  font-weight: 400;
}
.promo_img {
  width: 50%;
  display: flex;
}
.promo_txt {
  width: 50%;
}
.mate {
  width: 100%;
}
.promo_content {
  margin-top: 40%;
  border-left: 12px solid #f16d7f;
  padding-left: 18px;
}

* {
  margin: 0;
  padding: 0;
}
.promo_heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.promo_para {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  height: 38px;
  color: #222222;
}

.dsl {
  color: #f16d7f;
}
.sale {
  padding-top: 54px;
  padding-bottom: 96px;
}
.top {
  display: flex;

  padding-bottom: 30px;
}
.top_img {
  width: 100%;
}
.sale_item:not(:last-child) {
  margin-right: 30px;
}
.sale_item {
  position: relative;
}
.sale_text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.big_sale {
  position: relative;
}
.sale_p {
  color: #ffffff;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}
.sale_h {
  color: #f16d7f;
  font-family: "Lato";
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: bold;
}
.price_head {
  font-family: "Lato";
  font-size: 30px;
  text-align: center;
}
.price_p {
  font-family: "Lato";

  text-align: center;
  color: #9f9f9f;
}
.price {
  padding-bottom: 46px;
}
.modniki {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.modnik_item {
  gap: 30px;
  position: relative;
  width: 360px;
  background-color: #f8f8f8;
  font-family: "Lato";
}
.wall {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
.pricez {
  color: #f16d7f;
  line-height: 20px;
}
.modnik_txt {
  padding: 28px 16px 20px;
}
.description_price {
  margin-top: 12px;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 300;
  color: #5d5d5d;
}
.modnik_button {
  display: flex;
  justify-content: center;
  height: 47px;
  width: 211px;
  border: 1px solid;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #f26376;
}
.modnik_footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.modnik_button:hover {
  color: white;
  background: #f26376;
  border-color: #f26376;
}
.item_img {
  width: 100%;
}
.personal_info {
  display: flex;
  background: #222224;
  height: 341px;
}
.header_personal {
  color: #fbfbfb;
  font-family: "Lato";
  font-size: 19.9px;
  margin-top: 28px;
}
.personal_text {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}
.personal_body {
  color: #fbfbfb;
  font-family: "Lato";
  font-size: 14px;
  margin-top: 28px;
}
article {
  text-align: center;
  width: 360px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.subscribe {
  height: 448px;

  background: url(img/photo/photobeach.png) bottom;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe_left {
  font-family: "Lato";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe_left_p {
  font-family: "Lato";
  width: 360px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 40px;
  color: #222222;
}
.ital {
  font-style: italic;
}
.subscribe_right {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.subscribe_right_p {
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;
  line-height: 40.13px;
  padding-bottom: 32px;
}
.smaller {
  font-family: "Lato";
  font-weight: normal;
  font-size: 18px;
  line-height: 30.1px;
}
.subscribe_email {
  display: flex;
  justify-content: center;
}

.sub_email {
  box-sizing: border-box;
  border: none;
  background: #e1e1e1;
  border-radius: 25px 0 0 25px;
  width: 250px;
  font-size: 14px;
  padding-left: 22px;
}
.submit_subs {
  border: none;
  background: #f16d7f;
  border-radius: 0 25px 25px 0;
  width: 100px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
}
.submit_subs:hover {
  background: #e05c6e;
}
.sub {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact_us {
  background: #222224;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 79px;
}
.aiirights_p {
  color: #fbfbfb;
}
.social_left {
  font-family: "Lato";
}
.social_right {
  display: flex;
}
.social_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.45px;
  height: 32px;
  fill: #000000;
  background: #ffffff;
}
.social_button:not(:last-child) {
  margin-right: 8px;
}
.social_button:hover {
  background: #f16d7f;
  fill: #ffffff;
}
.header_location {
  display: flex;
}

.nav_list {
  font-family: "Lato";
}
