@charset "UTF-8";
header {
  background: #222222;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo {
  height: 724px;
}

.photo_select {
  display: flex;
  height: 777px;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
}

.arrow_left {
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  fill: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow_left:hover {
  fill: #f16d7f;
}

.arrow_right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  fill: #000000;
}
.arrow_right:hover {
  fill: #f16d7f;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.search {
  margin-left: 20px;
}

.header_right li:not(:last-child) {
  margin-right: 33px;
}

.header_right {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu_button {
  display: block;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.link_nav {
  text-decoration: none;
  color: #636363;
}

.features {
  display: flex;
  padding-top: 51px;
  padding-bottom: 64px;
  position: relative;
}

.features_block {
  display: block;
  position: relative;
}

summary {
  display: block;
  list-style: none;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

.one {
  width: 35%;
}

.two {
  width: 65%;
}

.filter {
  width: 35%;
  position: relative;
  z-index: 2;
}
.filter_button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  position: absolute;
  z-index: 5;
}
.filter_img {
  margin-left: 11px;
  cursor: pointer;
}
.filter_category {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-left: 11px;
  border-left: #f16d7f 4px solid;
  border-bottom: 1px solid #ebebeb;
  height: 37px;
  line-height: 37px;
  cursor: pointer;
}

.filter_box {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: -16px;
  width: 300px;
  background: white;
  padding-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter[open] .filter_button {
  color: #f16d7f;
}

.filter[open] .filter_img {
  fill: #f16d7f;
}

.filter_link:hover {
  color: #f16d7f;
}

.filter[open] {
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px 13px 13px;
}

.filter_ul {
  list-style-type: none;
  padding-top: 36px;
  padding-left: 11px;
}

.filter_link {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-decoration: none;
  cursor: pointer;
}

.checkbox_size {
  list-style-type: none;
  background: #ffffff;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  height: 103px;
  padding-top: 10px;
  display: flex;
  padding-bottom: 7px;
  left: -10px;
  top: 22px;
}

.size_name {
  padding-left: 22px;
  padding-bottom: 10px;
  display: flex;
}

.size_item {
  padding-left: 5px;
}

.features_button {
  cursor: pointer;
}

.feature_text {
  margin-right: 10px;
}

.features_list {
  margin-right: 27px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  list-style-type: none;
}

.product_search {
  display: flex;
  width: 65%;
}

details > summary {
  list-style: none;
}

.nav_list {
  display: flex;
}

.nav_list:not(:first-of-type)::before {
  padding: 0 5px;
  color: #ccc;
  content: "/ ";
}

.page {
  text-decoration: none;
  color: #c4c4c4;
  line-height: 19.2px;
  font-size: 16px;
  font-family: "Lato";
}
.page:hover {
  color: #f16d7f;
}

.central_content {
  display: flex;
  flex-direction: column;
}

.footer_product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #ebebeb solid 1px;
  width: 283px;
  height: 44px;
  box-sizing: border-box;
  align-self: center;
  margin-bottom: 96px;
  margin-top: 48px;
  border-radius: 4px;
  padding: 0 16px 0 16px;
}

.product_number {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.product_next {
  list-style-type: none;
  fill: #222222;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.product_next:hover {
  fill: #f16d7f;
}

.header_location_list {
  display: flex;
  list-style-type: none;
  width: 100%;
}

.new {
  color: #f16d7f;
}

.promo {
  background: #f1e4e6;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.page_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 148px;
  background: #f1e4e6;
}

.new_arriv {
  font-family: "Lato";
  color: #f26376;
  font-weight: 400;
}

.promo_img {
  width: 50%;
  display: flex;
}

.promo_txt {
  width: 50%;
}

.mate {
  width: 100%;
}

.promo_content {
  margin-top: 40%;
  border-left: 12px solid #f16d7f;
  padding-left: 18px;
}

* {
  margin: 0;
  padding: 0;
}

.promo_heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.promo_para {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  height: 38px;
  color: #222222;
}

.dsl {
  color: #f16d7f;
}

.sale {
  padding-top: 54px;
  padding-bottom: 96px;
}

.top {
  display: flex;
  padding-bottom: 30px;
}

.top_img {
  width: 100%;
}

.sale_item:not(:last-child) {
  margin-right: 30px;
}

.sale_item {
  position: relative;
}

.sale_text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big_sale {
  position: relative;
}

.sale_p {
  color: #ffffff;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.sale_h {
  color: #f16d7f;
  font-family: "Lato";
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: bold;
}

.price_head {
  font-family: "Lato";
  font-size: 30px;
  text-align: center;
}

.price_p {
  font-family: "Lato";
  text-align: center;
  color: #9f9f9f;
}

.price {
  padding-bottom: 46px;
}

.modniki {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.modniki_productpage {
  display: flex;
  padding-bottom: 98px;
  padding-top: 680px;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 89px;
}

.modnik_item:hover .item_img {
  filter: brightness(40%);
}

.modnik_item {
  position: relative;
  width: 360px;
  background-color: #f8f8f8;
}
.modnik_item:hover {
  transform: scale(1.02);
}

.modnik_add {
  display: none;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 44px;
  border: 1px solid #fff;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  position: absolute;
  top: 188px;
  left: 111px;
}

.modnik_add:hover {
  box-shadow: 0 0 7px #fff;
}

.modnik_item:hover .modnik_add {
  display: flex;
}

.modnik_add::before {
  padding-right: 11px;
  content: url(img/icons/shopper.svg);
}

.modnik_img {
  width: 100%;
}

.wall {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  font-family: "Lato";
}

.pricez {
  color: #f16d7f;
  line-height: 20px;
  font-family: "Lato";
}

.main_content {
  position: relative;
  display: flex;
}

.description_main {
  position: absolute;
  height: 600px;
  z-index: 5;
  display: flex;
  top: -50px;
  box-shadow: 0 0 19px pink;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #eaeaea;
}

.description_summ {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.description_price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-top: 12px;
  margin-bottom: 18px;
}

.description_compellingly {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 550px;
  padding-bottom: 32px;
  padding-top: 37px;
  color: #5e5e5e;
}

.collection {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-top: 64px;
  color: #f16d7f;
}

.description_main {
  width: 1141px;
}

.divider_one {
  margin-top: 12px;
  margin-bottom: 12px;
  background: #ef5b70;
  width: 63px;
}

.divider_two {
  margin-top: 65px;
  margin-bottom: 65px;
  width: 642px;
  background: #eaeaea;
}

.cheap_bch {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.description_filter {
  display: flex;
}

.description_filter_point {
  list-style-type: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.description_button_name {
  padding-left: 23px;
  padding-right: 10px;
}

.description_footer_button {
  margin-top: 50px;
}

.description_button_icon {
  border: 1px solid;
  height: 47px;
  width: 211px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-content: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
  fill: #f16d7f;
}
.description_button_icon:hover {
  fill: #f1e4e6;
}

.button_add_to_cart {
  padding-left: 23px;
}

.modnik_txt {
  padding: 28px 16px 20px;
}

.modnik_button {
  display: flex;
  justify-content: center;
  height: 47px;
  width: 211px;
  border: 1px solid;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #f26376;
  font-family: "Lato";
}

.modnik_footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.modnik_button:hover {
  color: white;
  background: #f26376;
  border-color: #f26376;
}

.item_img {
  width: 100%;
}

.personal_info {
  display: flex;
  background: #222224;
  height: 341px;
}

.header_personal {
  color: #fbfbfb;
  font-family: "Lato";
  font-size: 19.9px;
  margin-top: 28px;
}

.personal_text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.personal_body {
  color: #fbfbfb;
  font-family: "Lato";
  font-size: 14px;
  margin-top: 28px;
}

article {
  text-align: center;
  width: 360px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.subscribe {
  height: 448px;
  background: url(img/photo/photobeach.png) bottom;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe_left {
  font-family: "Lato";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe_left_p {
  font-family: "Lato";
  width: 360px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 40px;
  color: #222222;
}
.subscribe_right {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.subscribe_right_p {
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;
  line-height: 40.13px;
  padding-bottom: 32px;
}
.subscribe .ital {
  font-style: italic;
}

.smaller {
  font-family: "Lato";
  font-weight: normal;
  font-size: 18px;
  line-height: 30.1px;
}

.subscribe_email {
  display: flex;
  justify-content: center;
}

.sub_email {
  box-sizing: border-box;
  border: none;
  background: #e1e1e1;
  border-radius: 25px 0 0 25px;
  width: 250px;
  font-size: 14px;
  padding-left: 22px;
}

.submit_subs {
  border: none;
  background: #f16d7f;
  border-radius: 0 25px 25px 0;
  width: 100px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
}

.submit_subs:hover {
  background: #e05c6e;
}

.sub {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_us {
  background: #222224;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 79px;
}

.aiirights_p {
  color: #fbfbfb;
}

.social_left {
  font-family: "Lato";
}

.social_right {
  display: flex;
}

.social_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.45px;
  height: 32px;
  fill: #000000;
  background: #ffffff;
}

.social_button:not(:last-child) {
  margin-right: 8px;
}

.social_button:hover {
  background: #f16d7f;
  fill: #ffffff;
}

.header_location {
  display: flex;
}

.nav_list {
  font-family: "Lato";
}

.navigation_header {
  height: 148px;
  background: #f8f3f4;
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.regform_main {
  font-family: "Lato";
  padding-bottom: 96px;
}

.gender {
  border: none;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 23px;
  margin-top: 10px;
  color: #000000;
}

.reg_name {
  padding-bottom: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.nav_title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #f16d7f;
  position: absolute;
}

.reg_right {
  width: 652px;
}

.regform_main {
  display: flex;
  justify-content: space-between;
}

.gender_radio:not(:first-child) {
  margin-left: 20px;
}

.gender_choose {
  margin-right: 10px;
}

.reg_submit {
  width: 167px;
  height: 50px;
  background: #f16d7f;
  border: none;
  text-align: center;
}

.reg_description {
  padding-top: 15px;
  padding-bottom: 39px;
  width: 360px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration_item {
  width: 360px;
  height: 46px;
  border: 1px solid #a4a4a4;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #b1b1b1;
  padding-left: 17px;
  box-sizing: border-box;
}

.registration_item:not(:last-of-type) {
  margin-bottom: 21px;
}

.reg_left {
  display: flex;
  flex-direction: column;
}

.reg_p_text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 24px;
  line-height: 24.4px;
  padding-bottom: 21px;
}

.reg_text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  padding-bottom: 22px;
  color: #000000;
}

.loyal_description {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 16px;
  color: #000000;
}

.ok {
  margin-right: 23px;
}

.reg_loyal {
  display: flex;
}

.registration_contact {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 18px;
  color: #222222;
}

.title_cart {
  height: 148px;
  display: flex;
  align-items: center;
  background-color: #f8f3f4;
}
.title_cart_shop {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.photo_cart {
  width: 262px;
  height: 306px;
}

.cart_name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
.cart_name_link {
  text-decoration: none;
}

.main_cart {
  display: flex;
}

.main_cart_left {
  display: block;
  width: 50%;
}

.cart_item {
  display: flex;
}

.signification {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart_input {
  width: 43px;
  height: 22px;
  margin-left: 24px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.cart_buttons {
  display: flex;
  justify-content: space-between;
}

.cartbutton {
  height: 50px;
  width: 225px;
}/*# sourceMappingURL=geekshop.css.map */